body {
    padding: 0;

    background-size: cover;
    background-color: #072444;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 70vw auto;
    /* overflow: hidden; */
    overflow-x: hidden;

}

body::before {
    background-size: 65vw auto;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Larghezza del 50% dello schermo */
    height: 50vh;
    background-image: url('img/background.png'); /* Aggiorna il percorso dell'immagine */
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;

    z-index: -1;
    animation: changeColor 5s infinite alternate;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg); /* Inizia con il colore originale */
    }
    100% {
        filter: hue-rotate(360deg); /* Ruota il colore di 360 gradi */
    }
}

.savia
{
    position: absolute;
    top: 5vh;
    left: 13vw;
    width: 50vw;
}

.loghi-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Allinea i loghi in cima */
    ; height: 10vh; /* Altezza piena della viewport */
    width: 80%; /* Larghezza del 80% dello schermo */
    margin: 0 auto; /* Per centrare il contenitore */
}

.loghi-container img {
    margin: 0 10px; /* Spazio tra i loghi */
    max-width: 100px; /* Larghezza massima dei loghi */
    width: 20vw;
}


.text-overlay {
    position: absolute;
    top: 17vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    padding: 10vw; /* Aggiungi spaziatura per migliorare la leggibilità */
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
    font-size: 1.2em;
}



.globo {
    width: 1px;
    height: 1px;
    visibility: hidden;
}




@keyframes expandContract {
    0% {
        filter: hue-rotate(0deg); /* Inizia con il colore originale */
    }
    100% {
        filter: hue-rotate(360deg); /* Ruota il colore di 360 gradi */
    }
}


.icona_calendario
{
    position: absolute;
    top: 23vh;
    left: 10vw;
    width: 7vw;
}

.data
{
    position: absolute;
    top:24vh;
    left: 3vw;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    padding: 16vw; /* Aggiungi spaziatura per migliorare la leggibilità */
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
    font-size: 4vw;
}


.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   ; height: auto; /* L'altezza viene adattata in base alla dimensione dei video */
    margin: 0 auto;
    position: absolute;
    top: 30vh;
}
.video-container iframe {
    margin: 10px 0; /* Aggiungi uno spazio tra i video */
}




.container {
    width: 75vw;
    
    position: absolute;
    top: 81vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
}



.embed {
    width: 100%;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.embed iframe {
    width: 100%;
    height: 100%;
}

.embed_video {
    padding_bottom:10px;

}


#cookie-banner {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


#cookie-banner p {
    margin: 0;
}

#cookie-accetta {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 80vw;
    width: 80%;
    margin: auto;
    
    position: relative;
    top: 51vh; /* Posiziona le caselle a 80vh dalla cima */
    
  }
  
    .container-notizie {
      position: relative;
      top: 8vh;
    display: grid;
    width: 90vw; /* Larghezza del 80% dello schermo */
    margin: 0 auto; /* Per centrare il contenitore */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
    font-size: 0.7em;
  }
  
    div.cell img {
  width: 13vw; /* Larghezza al 100% del contenitore */
  height: auto; /* Altezza automatica per mantenere le proporzioni originali */
  float: left;
  padding-right: 20px;
  
}
  
  .cell {
    flex: 1; /* Ciascuna cella occupa lo stesso spazio */
   margin-left: 30px; /* Aggiungi spazio a sinistra del testo */
  align-self: flex-start;
  padding: 9px;
  font-size: 1.2em;
    
  }
  
  .text-description {
    position: relative;
    top: 15vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
        font-size: 1em;
        padding: 10px;
    
}
.titolo-slide {
    position: relative;
    top: 53vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
        font-size: 1em;
        text-align:center;
    
}


.titolo-video {
    position: relative;
    top: 15vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    padding: 10vw; /* Aggiungi spaziatura per migliorare la leggibilità */
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
        font-size: 1em;
        text-align:center;
    
}




  .grid-item {
    position: relative; 
    width: 100%; 
    height: 0; 
    padding-top: 56.2500%;
    padding-bottom: 0; 
     
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);    
    margin-top: 1.6em; 
    margin-bottom: 0.9em; 
    overflow: hidden;
 border-radius: 8px; 
 will-change: transform;
}

.grid-item iframe{
    
    position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;
}

 /* Stile delle caselle */
  .box {
    width: 80vw; /* Imposta la larghezza al 80% dello schermo */
    ; height: 200px;
    border: 1px solid black;
    margin: 0 auto; /* Spazio tra le caselle */
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
  }

  
  .iframe-container {
    width: 100%;
   ; height: 100%;
  }

  .iframe-container iframe {
    width: 100%;
   ; height: 100%;
  }

  
