body {
    padding: 0;

    background-size: cover;
    background-color: #072444;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50vw auto;
    /* overflow: hidden; */
    overflow-x: hidden;

}




body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw; /* Larghezza del 50% dello schermo */
    height: 100vh;
    background-image: url('img/background.png'); /* Aggiorna il percorso dell'immagine */
    background-size: cover;
    background-position: center;
    z-index: -1;
    animation: changeColor 5s infinite alternate;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg); /* Inizia con il colore originale */
    }
    100% {
        filter: hue-rotate(360deg); /* Ruota il colore di 360 gradi */
    }
}

.loghi-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-around; /* Per distribuire gli elementi in modo uniforme */
    align-items: center; /* Per allineare verticalmente al centro */
    width: 100vw; /* Larghezza del div */
    height: 100px; /* Altezza del div, puoi regolarla a tuo piacimento */
}

.loghi-container img {
    max-width: 100%; /* Per garantire che le immagini siano responsivamente dimensionate */
    max-height: 100%; /* Per garantire che le immagini siano responsivamente dimensionate */
}

.programma {
    position: absolute;
    top: 90vh;
    left: 70vw;
    width: 40vw;
    width: 13vw;
}


.sarti_embed_left {
        position: absolute; 
        top: 160vh;
        width: 35vw; 
        
        padding-top: 56.2500%;
        padding-bottom: 0; 
        padding-left: 10vw;
        box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
        margin-top: 1.6em; 
        margin-bottom: 0.9em; 
        overflow: hidden;
        border-radius: 8px; 
        will-change: transform;

    }

div.sarti_embed_left iframe{
    
    position: absolute;
    width: 100%; 
    height: 60vh;
    top: 0; 
    left: 0; 
    border: none;
    padding: 0;
    margin: 0;
    
    
}

.sarti_embed_right {
        position: absolute; 
        top: 160vh;
        left: 50vw;
        width: 35vw; 
        
        padding-top: 56.2500%;
        padding-bottom: 0; 
        padding-left: 10vw;
        box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
        margin-top: 1.6em; 
        margin-bottom: 0.9em; 
        overflow: hidden;
        border-radius: 8px; 
        will-change: transform;

    }

div.sarti_embed_right iframe{
    
    position: absolute;
    width: 100%; 
    height: 60vh;
    top: 0; 
    left: 0; 
    border: none;
    padding: 0;
    margin: 0;
    
    
}




.globo {
    position: absolute;
    top: 20vh;
    left: 61vw;
    width: 25vw;
    opacity: 0.5;
    animation: expandContract 20s infinite alternate; /* Durata, ripetizione e direzione dell'animazione */
}



@keyframes expandContract {
    0% {
        filter: hue-rotate(0deg); /* Inizia con il colore originale */
    }
    100% {
        filter: hue-rotate(360deg); /* Ruota il colore di 360 gradi */
    }
}

.icona_calendario
{
    position: absolute;
    top: 80vh;
    left: 10vw;
    width: 5vw;
}

.savia
{

    position: absolute;
    top: 17vh;
    left: 10vw;
    width: 35vw;
}

.data
{
    position: absolute;
    top: 85vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    padding: 16vw; /* Aggiungi spaziatura per migliorare la leggibilità */
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
    font-size: 5vh;
}

.text-overlay {
    position: absolute;
    top: 55vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    padding: 10vw; /* Aggiungi spaziatura per migliorare la leggibilità */
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
    font-size: 5vw;
}




.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
margin: 80vh auto 0;
}

.container_last {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
margin: 80vh auto 0;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    height: 100vh;
  }

  .grid-item {
  
  box-sizing: border-box;
  padding: 30px; /* Aggiungi spazio tra gli iframe */
}

.last-item {
  justify-self: center; /* Centra l'ultima cella nella griglia */
}

  .iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    height: 0;
    overflow: hidden;
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


.container_podcast {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 195vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.embed {
    width: 33.33%;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.embed_video {
    width: 33.33%;

    padding: 10px;
    box-sizing: border-box;
    float: left;
}


.embed iframe {
    width: 100%;
    height: 100%;
}

#cookie-banner {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


#cookie-banner p {
    margin: 0;
}

#cookie-accetta {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

 .video-container {
    width: 80%;
    max-width: 800px; /* Limita la larghezza del video */
    display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
margin: 80vh auto 0;
  }