body {
    padding: 0;

    background-size: cover;
    background-color: #072444;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 70vw auto;
    /* overflow: hidden; */
    overflow-x: hidden;

}

body::before {
    background-size: 65vw auto;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Larghezza del 50% dello schermo */
    height: 50vh;
    background-image: url('img/background.png'); /* Aggiorna il percorso dell'immagine */
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;

    z-index: -1;
    animation: changeColor 5s infinite alternate;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg); /* Inizia con il colore originale */
    }
    100% {
        filter: hue-rotate(360deg); /* Ruota il colore di 360 gradi */
    }
}

.loghi-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-around; /* Per distribuire gli elementi in modo uniforme */
    align-items: center; /* Per allineare verticalmente al centro */
    width: 100vw; /* Larghezza del div */
    height: 100px; /* Altezza del div, puoi regolarla a tuo piacimento */
}

.loghi-container img {
    max-width: 100%; /* Per garantire che le immagini siano responsivamente dimensionate */
    max-height: 100%; /* Per garantire che le immagini siano responsivamente dimensionate */
}

.programma {
    position: absolute;
    top: 90vh;
    left: 70vw;
    width: 40vw;
    width: 13vw;
}





.globo {
    position: absolute;
    top: 20vh;
    left: 61vw;
    width: 25vw;
    opacity: 0.5;
    animation: expandContract 20s infinite alternate; /* Durata, ripetizione e direzione dell'animazione */
}



@keyframes expandContract {
    0% {
        filter: hue-rotate(0deg); /* Inizia con il colore originale */
    }
    100% {
        filter: hue-rotate(360deg); /* Ruota il colore di 360 gradi */
    }
}

.icona_calendario
{
    position: absolute;
    top: 80vh;
    left: 10vw;
    width: 5vw;
}

.savia
{

    position: absolute;
    top: 17vh;
    left: 10vw;
    width: 45vw;
}

.data
{
    position: absolute;
    top: 85vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    padding: 16vw; /* Aggiungi spaziatura per migliorare la leggibilità */
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
    font-size: 5vh;
}


.titolo-slide {
    position: relative;
    top: 24vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
        font-size: 1.5em;
        text-align:center;
    
}

.titolo-video {
    position: relative;
    top: 37vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
        font-size: 1.5em;
        text-align:center;
    
}

.text-overlay {
    position: absolute;
    top: 36vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    padding: 10vw; /* Aggiungi spaziatura per migliorare la leggibilità */
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
    font-size: 1.8em;
}

.text-description {
    position: absolute;
    top: 46vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    padding: 10vw; /* Aggiungi spaziatura per migliorare la leggibilità */
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
    font-size: 1.2em;
    
}


 .container {
    position: relative;
    top: 30vh; /* Posiziona le caselle a 80vh dalla cima */
    display: flex;
    justify-content: center; /* Centra le caselle orizzontalmente */
  }
  
  .container-notizie {
      position: relative;
      top: 41vh;
    display: flex;
    width: 90vw; /* Larghezza del 80% dello schermo */
    margin: 0 auto; /* Per centrare il contenitore */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
    font-size: 2em;
  }
  
  div.cell img {
  width: 13vw; /* Larghezza al 100% del contenitore */
  height: auto; /* Altezza automatica per mantenere le proporzioni originali */
  float: left;
  padding-right: 20px;
  
}
.titolo-multimedia {
    position: relative;
    top: 93vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
        font-size: 3.1em;
        text-align:center;
    
}

.titolo-streaming {
    position: relative;
    top: 14vh;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    
    box-sizing: border-box; /* Include il padding nella larghezza del box */
    font-family: 'Barlow Condensed', sans-serif; /* Usa il font Barlow Condensed */
        font-size: 1em;
        text-align:center;
    
}


.container-streaming {
      position: relative;
      top: 131vh; /* Posiziona le caselle a 80vh dalla cima */
      display: flex;
      justify-content: center; /* Centra le caselle orizzontalmente */
  }
  
  .cell {
    flex: 1; /* Ciascuna cella occupa lo stesso spazio */
   margin-left: 30px; /* Aggiungi spazio a sinistra del testo */
  align-self: flex-start;
    height: 200px; /* Altezza fissa */
    font-size: 0.6em;
  }

  /* Stile delle caselle */
  .box {
    width: 80vw; /* Imposta la larghezza al 80% dello schermo */
    height: 200px;
    border: 1px solid black;
    margin: 10px; /* Spazio tra le caselle */
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
  }


.grid-container {
    display: grid;
   
    width: 80%;
    margin: auto;
    height: 100vh;
    position: relative;
    top: 25vh; /* Posiziona le caselle a 80vh dalla cima */
    
  }

  .grid-item {
    position: relative; 
    width: 100%; 
    height: 0; 
    padding-top: 56.2500%;
    padding-bottom: 0; 
     
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);    
    margin-top: 1.6em; 
    margin-bottom: 0.9em; 
    overflow: hidden;
 border-radius: 8px; 
 will-change: transform;
}

.grid-item iframe{
    
    position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;
}



  .iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    height: 0;
    overflow: hidden;
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }




#cookie-banner {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


#cookie-banner p {
    margin: 0;
}

#cookie-accetta {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


  
 